- @page_title = 'Cholera and diarrhoea'

= render partial: 'layouts/nav'  

%h2 Learning outcomes
%p At the end of this module, trainees should be able to:

%ol
	%li Understand the causes of cholera
	%li Identity patients with cholera
	%li Provide basic treatment for patients with cholera

%h2 Overview of cholera

%h3 What is cholera
%p Cholera is a type of acute watery diarrhoea that starts very suddenly and is caused by the bacteria Vibrio cholerae.
%p Cholera causes severe diarrhoea and vomiting, rapid dehydration, shock and often death

%h3 What causes cholera?
%p Food poisonning, infection, medical causes, surgical causes

%h3 How does diarrhoea spread?
%p Faecal-oral route, direct contact, contaminated water or food, flies

%h3 How can the spread of diarrhoea be controlled or prevented?
%p Antibiotics, handwashing, proper disposal of faeces/vomit, safe drinking water, cover food, good diet

%h2 The cholera cycle
= image_tag 'cholera-cycle.png', alt: 'Image of the cholera cycle'
%h4 Description of the cholera cycle
%ol
	%li Person is infected with cholera
	%li Cholera is excreted via faeces or vomit
	%li Faeces and vomit contaminate drinking water
	%li Or, flies or dirty hands transmit cholera from stool or vomit to food
	%li Person drinks contaminated water or eats contaminated food.
	%li Another person is infected and the cycle repeats

%h2 Epidemiology
%ul
	%li Many people infected do not develop the disease
	%li Many people who develop the disease only have mild symptoms
	%li A person can be a carrier of cholera for months without ever having symptoms
	%li Cholera occurs mainly where sanitation, water supplies and personal hygiene are poor

%h2 Symptoms of cholera
%ul
	%li At first all normal faeces in the bowel are passed, then large amounts of watery stool are passed repeatedly or almost continuously.
	%li Several litres may be passed in the first few hours.
	%li The stool often looks like the water in which rice has been cooked.
	%li There is usually little abdominal pain.
	%li Vomiting usually occurs after the diarrhoea and large volumes are vomited.
	%li Cramps in the muscles of the abdomen can cause severe pain.


%h2 Activity: Recognising signs of cholera
%table
	%thead
		%tr
			%th When you see a patient with the symptoms of cholera, what do you think will happen to:
			%th
	%tbody 
		%tr
			%td.title	The patients' pulse
			%td The pulse is very fast and weak or you cannot feel it
		%tr
			%td.title Blood pressure
			%td The blood pressure is very low or you cannot record it
		%tr
			%td.title Respiration rate
			%td The respiration rate is very fast
		%tr
			%td.title Temperature
			%td The temperature is not raised and may be lower than usual
		%tr
			%td.title Urine output
			%td No urine is passed
		%tr
			%td.title Additional signs
			%td The patient may also have sunken eyes and cheeks. Spasms (tightening) of muscles in the hands, feet and calves of the legs are common


%h2 Treatment
%ol 
	%li For mild or moderate dehydration use oral rehydration salts
	%li For severe dehydration use IV Ringers Lactate
	%li For the first 24h a patient can need 200ml/kg of fluid
 
	60kg x 200ml = 12000ml or 12litres of fluid in the first 24h of treatment

= image_tag 'man-treatment.jpg', alt: 'Image of man being treated for cholera. He is reclining on a bed and has an IV drip in his arm'
