%p Choose from the following pages:
%nav
	%ol
		%li= link_to_unless_current 'Cholera and diarrhoea', '/cholera'
		%li= link_to_unless_current 'Cleft lip', '/cleft-lip'
		%li= link_to_unless_current 'Infection control', '/infection-control'
		%li= link_to_unless_current 'Meningitis', '/meningitis'
